@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-family: 'Poppins', sans-serif;
}
.box-1{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url(../images/backgrond.png);
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
    height: 100vh;
}

.box-1 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    z-index: 99;
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    transition: 0.5s ease-in-out;
}
/*THE START for animi*/
nav.togglenav{
    color: black;
    background: white;
    padding: 2px;
    box-shadow: 0px 1px 5px 0px #c5c5c5;
}
nav.togglenav .logo,
.box-1 nav.togglenav ul li a{
    color: black;
}/*the end for animi*/

.box-1 nav ul{
    display: flex;
    justify-content: space-around;
    width: 45%;
}
.box-1 nav ul li{
    list-style: none;
}
.box-1 nav ul li a{
    color: white;
    text-decoration: none;
}
.logo{
    display: inline-flex;
    cursor: pointer;
}
.logo h4{
    padding: 12px;
}
.logo img{
    height: 42px;
    width: 35px;
}
.box-1 nav ul li a:hover{
    color: #00C3A3;
    font-weight: bold;
}
.icons i{
    padding: 10px;
}
/*  START responsive menu icon*/
.icons .menu-icon{
    cursor: pointer;
    display: none;
}
.icons .menu-icon div{
    width: 24px;
    height: 3px;
    background-color: #F0F8FF;
    margin: 4px;
    border-radius: 25%;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}
nav.togglenav .menu-icon div{
    background: black;
    border-radius: 25%;
}
/*  END responsive menu icon*/
.content{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.content h1{
    font-size: 75px;
}
.content p{
    margin: 30px 0;
    letter-spacing: 1px;
}
.content .btn{
    width: 180px;
    background: #00C3A3;
    border: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.418);
}
.content .btn:hover{
    background-color: rgb(2, 175, 146);
}

/*Responsive*/
@media screen and (max-width: 1200px) {
    .content h1{
        font-size: 40px;
    }
    .content p{
        font-size: xx-small;
    }
    .box-1 nav ul{
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .box-1 nav{
        justify-content: space-between;
    }
    .box-1 nav ul{
        width: 100%;
        color: black;
    }
    .box-1 nav ul li a{
        color: black;
        letter-spacing: 1px;
    }
    .content h1{
        font-size: 22px;
    }
    .content p{
        font-size: x-small;
    }

    .ul-links{
        width: 100%;
        position: absolute;
        height: 90vh;
        top: 10vh;
        background: white;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(100%);
        transition: transform 0.5s ease-in-out;
    }
    .nav-links{
        opacity: 0px;
    }
    .icons{
        display: flex;
        align-items: center;
    }
    .icons .menu-icon{
        display: block;
        padding-left: 5px;
    }
    nav.togglenav{
        justify-content: space-around;
    }
}

.nav-active{
    transform: translateY(0%);
}


/* Second Section (( ABOUT US )) */

.about-box{
    text-align: center;
    line-height: 40px;
    margin-top: 90px;
}
.about-box p{
    color: #00C3A3;
    font-weight: bold;
}
.container-box{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    margin: 45px auto;
    width: 90%;
}
.container-box .card{
    width: 80%;
    margin: auto;
}    
.container-box .card img:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
    /*box-shadow: 3px 5px 10px 3px rgba(0, 0, 0, .3);*/
    box-shadow: 0px 2px 10px 0px #00E6C0;
    border-radius: 10px;
} 
div .para{
    text-align: center;
    width: 80%;
    color: #999999;
    margin: auto;
}
@media screen and (max-width: 768px){
    .container-box{
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        width: 90%;
    }
    .container-box .card{
        width: 90%;
        margin: auto;
    }
    .container-box .card img:hover{
        transform: none;
    } 
}


/* Third Section (( ********* )) */

.box-4{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 84%;
    margin: 60px auto;
    background-color: #F9F9F9;
    text-align: center;
    padding: 25px;
}
.box-4 div{
    border-right: 1px solid #bbbaba70;
}
.box-4 div:last-child{
    border-right: none
}
.gray{
    color: #999999;
    font-size: 22px;
}
@media screen and (max-width: 768px){
    .box-4{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .box-4 div{
        border-right: none;
        border-bottom: 1px solid #bbbaba70;
        font-size: smaller;
        padding: 10px;
    }
    .box-4 div:last-child{
        border-bottom: none;
    }
}

/*Fourth Section ((   ))*/
.services{
    background-color: #F9F9F9;
    width: 100%;
}
.services .title{
    text-align: center;
    padding: 50px;
    line-height: 40px;
}
.services .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 80px;
    padding: 50px;
}
.services .container div img{
    width: 40px;
    float: left;
    padding-right: 15px;
    padding-top: 1px;
}
.services .container div h3{
    padding-bottom: 20px;
}
.services .container div p{
    padding-left: 45px;
}
@media screen and (max-width: 768px){
    .services .container{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .services .container div p{
        margin-bottom: 40px;
        font-size: 15px;
    }
}

/* END services*/
.team-box{
    text-align: center;
    line-height: 40px;
    margin-top: 90px;
}
.team-box p{
    color: #00C3A3;
    font-weight: bold;
}
.container-box2{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    margin: 45px auto;
    width: 90%;
}
.container-box2 .card{
    width: 80%;
    margin: auto;
}
.dot{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active-dot, .dot:hover {
    background-color: #00C3A3;
    height: 13px;
    width: 13px;
}
@media screen and (max-width: 768px){
    .container-box2{
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        width: 90%;
    }
    .container-box2 .card{
        width: 90%;
        margin: auto;
    }
    .dot{
        display: none;
    }
}


  /*    SKILLS     */
.skills-box{
    background-color: #F9F9F9;
    margin-top: 100px;
    padding-bottom: 50px;
}
.skills-box .title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    line-height: 40px;
}
.skills-box .container-2{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 100px;
    row-gap: 25px;
    margin: auto;
}
.progress-box div{
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.progress-box progress{
    width: 100%;
    height: 7px;
    border-radius: 20px;
    -webkit-appearance: none;
    appearance: none;
}
progress::-webkit-progress-bar {
    background-color: #EEEEEE;
    border-radius: 20px;
}
progress::-webkit-progress-value {
    background-color: #00C3A3;
    border-radius: 20px;
    -webkit-animation: move 5s linear infinite forwards;
    animation: move 5s linear infinite forwards;
    transition: width 2.5s ease-in-out;
    transition: 0.3s all linear;
}
@media screen and (max-width: 768px){
    .skills-box .container-2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 20px;
    }
    .progress-box div{
        font-size: 14px;
    }
}

@keyframes move {
    from {
        width:0
    }
    to {
        width:100%
    }
}
@-webkit-keyframes move {
    from {
        width:0
    }
    to {
        width:100%
    }
}




/* End prosses*/

.green-box{
    background-image:linear-gradient(rgba(0, 230, 192, 0.534), rgba(12, 14, 13, 0.548)), url(../images/drew.png);
    background-position: center;
    background-size: cover;
    color: white;
    width: 100%;
    height: 430px;
    text-align: center;
}
@media screen and (max-width: 768px){
    .green-box{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .green-box p{
        width: 80%;
        margin: 0 auto;
        font-size: 15px;
    }
    .green-box img{
        width: 40%;
    }
}
/*new section*/
.work-box{
    background-color: #F9F9F9;
    padding-top: 100px;
    text-align: center;
}
.work-box nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}
.work-box nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.work-box nav ul li{
    list-style: none;
}
.work-box nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.work-box nav ul li a:hover{
    color: #00C3A3;
    font-weight: bold;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}
.gallery img{
    width: 100%;
}

@media screen and (max-width: 768px){
    .work-box nav{
        width: 95%;
    }
    .work-box nav ul{
        display: flex;
        justify-content: space-between;
        width: 97%;
    }
}
@media screen and (max-width: 1000px){
    .work-box nav{
        width: 90%;
    }
}
/* END WORK Section*/

.contact-form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: 30px auto 200px auto; 
}
.input-files{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-files, .smg{
    width: 40%;
    margin: 0 auto;
}
.smg textarea{
    background-color: #f0f0f0;
    width: 100%;
    border: none;
    height: 93%;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 15px;
    outline: none;
    resize: none;
    margin: 10px 0;
}
.input-files input{
    background-color: #f0f0f0;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding-left: 15px;
    margin: 10px 0;
}
.smg .btn-s{
    width: 180px;
    background: #00C3A3;
    border: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.418);
}
::placeholder{
    font-size: 15px;
}
input[type=text]:focus {
    border: 1px solid rgb(16, 221, 221);
}
.smg textarea:focus{
    border: 2px solid rgb(0, 166, 195);
}
@media screen and (max-width: 768px){
    .contact-form {
        flex-direction: column;
        width: 90%;
        margin: 20px auto 100px auto; 
    }
    .input-files, .smg{
        width: 90%;
    }
    .smg textarea,
    .input-files input{
        width: 100%;
    }
    .smg textarea{
        height: 100px;
    }
}

/* END THE BAD SECTION ( End bad Form)*/


footer{
    background-color: #1B1B1B;
    color: white;
    width: 100%;
}
.top-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(1, 100%);
    column-gap: 10%;
    margin: auto;
    padding: 60px 0;
}
.first-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.second-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top-container p{
    margin-top: 10px;
}
.txt-btn{
    display: flex;
    margin-top: 15px;
}
.txt-btn .tx-emai{
    width: 300px;
    height: 50px;
    padding: 7px;
}
.txt-btn input[type=button]{
    width: 150px;
    height: 50px;
    background: #00C3A3;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
@media screen and (max-width: 768px){
    .top-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 60px 0;
    }
    .second-box{
        margin-top: 20px;
    }
    .top-container p{
        margin-top: 5px;
        font-size: 14px;
    }
    .txt-btn .tx-emai{
        width: 270px;
        height: 40px;
        padding: 7px;
    }
    .txt-btn input[type=button]{
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
}


.bottom-container{
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 20px auto;
    padding-bottom: 70px;
}

.bottom-container .box-one{
    width: 100%;
    padding-right: 20px;
}
.box-one img{
    width: 65px;
    padding-top: 10px;
}
.box-one .titles{
    padding: 7px;
    font-size: 14px;
}

.bottom-container .box-2{
    width: 100%;
    margin-left: 20px;
}
.bottom-container ul{
    line-height: 25px;
    color: #868686;
    padding-top: 10px;
}
.bottom-container ul li{
    list-style: none;
    cursor: pointer;
}
@media screen and (max-width: 999px){
    .box-one img{
        width: 60px;
        height: 70px;
    }
}

@media screen and (max-width: 768px){
    .bottom-container{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .box-one img{
        width: 60px;
        height: 70px;
    }
    .bottom-container .box-2{
        margin-left: 0;
        padding-top: 7%;
    }
    .bottom-container .box-3{
        padding-top: 7%;
    }
    .bottom-container ul{
        padding-top: 5px;
    }
    .bottom-container .box-four{
        display: none;
    }
}
.last-footer{
    background-color: #1F1F1F;
    width: 100%;
    padding: 20px;
    font-size: 14px;
}
.last-footer .container-foo{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.last-footer .social-icon img{
    width: 20%;
    padding-left: 10px;
    cursor: pointer;
}
hr.hr-line{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 768px){
    .last-footer .container-foo{
        display: flex;
        flex-direction: column-reverse;
    }
}
.flix-row{
    display: flex;
    flex-direction: row;
}
.flix-column{
    display: flex;
    flex-direction: column;
}
#active{
    color: #00C3A3;
    font-weight: bold;
}